    <div class="chat-page-overlay" onClick="toggleChat()"></div>
    <div class="chat-window">
      <div class="close-chat" onClick="toggleChat()" data-tooltip="Close Chat" data-tooltip-pos="right">
        <i class="material-icons">close</i>
      </div>


      <div class="chat-feed">
       
        <p><span class="name">rAstley67</span>What'S up</p>
        <p><span class="name">rAstley69</span>Never gonna run around and desert you</p>
        <p><span class="name">rAstley67</span>Never gonna make you cry</p>
      </div>

      <div class="chat-footer">
        <div class="chat-message-wrapper">
          <textarea placeholder="Send a message:"></textarea>
          <div class="chat-message-icons">
            <div class="icon-button" data-tooltip="Cheer" data-tooltip-pos="up-right">
              <i class="material-icons">stars</i>
            </div>
            <div class="icon-button" data-tooltip="Emote" data-tooltip-pos="up-right">
              <i class="material-icons">face</i>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <div>
            <i class="material-icons" data-tooltip="Chat Settings" data-tooltip-pos="up-left">settings</i>
            <i class="material-icons" data-tooltip="Viewer List" data-tooltip-pos="up-left">list</i>
          </div>
          <button>Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
