
<!-- partial:index.partial.html -->
<div class="app-container chat">
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="sidebar-header">
          <div class="twitch-logo" onClick="toggleSidebar()">
            <img src="/static/img/logo.png" width="194px" />
          </div>
          <div class="search-bar">
            <input type="text" placeholder="Search to Add Friends" />
            <i class="material-icons">search</i>
          </div>
        </div>
        <div class="sidebar-group">
          <div class="sidebar-group-header">
            <div>Followed Channels</div>
            <a class="view-all">View All</a>
          </div>
          <a class="channel-link">
            <div class="channel-image">
              <img src="/static/img/avatar.png" width="32px" height="32px" />
            </div>
            <div class="channel-info">
              <div class="channel-name">santex</div>
              <div class="channel-status">
                <div>UFO CASE ALIEN</div>
                <div>107 watching</div>
              </div>
            </div>
          </a>
          
        </div>
        <div class="sidebar-group">
          <div class="sidebar-group-header">
            <div>Friends</div>
          </div>
          
          <a class="channel-link offline">
            <div class="channel-image">
              
              <img src="/static/img/avatar.png" />
            </div>
            <div class="channel-info">
              <div class="channel-name">atimidmouse</div>
              <div class="channel-status">Offline</div>
            </div>
          </a>
        </div>
        <div class="sidebar-group">
          <div class="sidebar-group-header">
            <div>Recommended</div>
            <a class="view-all">View More</a>
          </div>
          <a class="channel-link">
            <div class="channel-image">
              
              <img src="/static/img/avatar.png" width="32px" height="32px" />
            </div>
            <div class="channel-info">
              <div class="channel-name">DizzyKitten</div>
              <div class="channel-status">
                <div>Playerunknown's Battlegrounds</div>
                <div>1.2k watching</div>
              </div>
            </div>
          </a>
          
        </div>
      </div>
    </div>
    <div class="page-overlay" onClick="toggleSidebar()"></div>
  </div>
